@import "../../vars.scss";

.search {
  display: block;
  background: rgba(250, 250, 250, 0.7);

  * {
    box-sizing: border-box;
  }

  &_wrapper {
    display: block;
    max-width: 1024px;
    margin: auto;
    padding: 20px;
  }

  &_field {
    border: 2px solid $dark-blue;
    display: block;
    width: 100%;
    background: #fff url("../search/search.svg") 98.8% 13px no-repeat;
    background-size: 26px 26px;
    padding: 10px 40px 10px 15px;
    outline-color: $accent;
    color: $dark-blue;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;

    &:focus {
      border-color: $accent;
      outline: none;
    }

    &::-webkit-input-placeholder {
      color: #C7D4E5;
    }
  }

  @media screen and (max-width: 480px) {
    &_wrapper {
      padding: 20px 10px;
    }

    &_field {
      border-width: 1px;
      background-position: 98.8% 6px;
      background-size: 20px 20px;
      padding: 5px 32px 5px 10px;
      font-size: 16px;
    }
  }
}
