.conference_banner {
  position: absolute;
  top: 0;
  left: 50px;

  @media screen and (max-width: 700px) {
    &__img {
      display: none;
    }
  }

  &__img {
    width: 172px;
    height: 84px;
    background: url('../banner/kotlin-conf-banner-dark.svg') no-repeat;
  }
}

