*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  line-height: 1.5;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: "JetBrains Mono", monospace;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color .3s, color .3s;
}

:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --link-color: #7f52ff;
}

[data-theme="dark"] {
  --background-color: #121212;
  --text-color: #ffffff;
  --link-color: #7f52ff;
}

ul, ol {
  list-style: none;
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
input,
textarea,
select {
  font: inherit;
}

:focus {
  outline: 2px dashed #7f52ff;
  outline-offset: 4px;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none;
    transition: none;
    scroll-behavior: auto;
  }
}
