$menu-width: 20rem;
$menu-btn: 3rem;
$menu-active: #d1d1d1;
$menu-hover: #7d838b;
$dark-gr: #888888;
$gr: #E4E4E4;

html {
  font-size: 20px;
  line-height: 1.3;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  button,
  a,
  * {
    -webkit-appearance: none;
  }
}

.layout,
.menu,
.menu-link {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.layout {
  position: relative;
  padding-left: 0;
  &.active {
    .menu {
      left: $menu-width;
    }
    .menu-link {
      left: $menu-width;
      background: #F1F1F1;
      span {

        background-color: $dark-gr;
        &:before,
        &:after {
          background-color: $dark-gr;
        }
      }
    }
  }
}

.article-nav {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;

  position: fixed;
  top: 0;
  z-index: 200;
  width: 100%;

  background: #49525E;

  &-links {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
  }

  &-link {
    display: flex;
    position: relative;
    padding: 0 1.5rem;
    line-height: $menu-btn;
    color: $menu-active;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;

    &--prev {
      margin-left: 1rem;
      &:before {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        top: 50%;
        left:0;
        border-style: solid;
        border-width: 6px 8px 6px 0;
        border-color: transparent $menu-active transparent transparent;
        margin-top: -6px;
      }
    }

    &--next {
      margin-right: 1rem;
      &:after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        top: 50%;
        right:0;
        border-style: solid;
        border-width: 6px 0 6px 8px;
        border-color: transparent transparent transparent $menu-active;
        margin-top: -6px;
      }
    }

    &:hover {
      color: $menu-hover;
      &:before {
        border-color: transparent $menu-hover transparent transparent;
      }
      &:after {
        border-color: transparent transparent transparent $menu-hover;
      }
    }
  }
}

.menu {
  margin-left: -$menu-width; /* "#menu" width */
  width: $menu-width;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding-top: $menu-btn;

  z-index: 100;
  background: #F1F1F1;

  &-link {
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10;
    width: $menu-btn;
    height: $menu-btn;
    padding: 0 0.5rem;
    border: none;
    background: transparent;
    outline-color: transparent;
    cursor: pointer;

    &:hover,
    &:focus {
      outline-color: transparent;
      span {
        opacity: .6;
      }
    }

    span {
      position: relative;
      display: block;
      background-color: white;
      width: 100%;
      height: 0.2rem;
      &:before,
      &:after {
        position: absolute;
        display: block;
        background-color: white;
        width: 100%;
        height: 0.2rem;
        content: " ";
      }
      &:after {
        top: 0.5rem;
      }
      &:before {
        bottom: 0.5rem;
      }
    }
  }
}


.pure-menu {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  ul {
    margin: 0;
    padding: 1rem 0;

    list-style: none;
    border: none;
    background: transparent;
  }

  li {
    padding: .5rem 1rem;
    &.pure-menu-list-date {
      background-color: $gr;
      border-bottom: 1px solid lighten($gr, 5%);
      border-bottom: 1px solid darken($gr, 5%);
      padding-top: 1rem;
      padding-bottom: 1rem;
      font-weight: bold;
      margin: .5rem 0;
    }
  }
  a {
    color:black;
    text-decoration: none;
    &:hover {
      color: $dark-gr;
    }
  }
}

.main{
  padding-top: $menu-btn;
  margin-bottom: 10rem;

  &-content {
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 45rem;
    @media screen and (max-width: 480px) {
      padding: 0 1rem;
    }
  }

  &-title-date {
    white-space: nowrap;
  }

  &-backlink {
    padding-top: 1rem;
  }

  li > p {
    margin: 0;
  }

  .hljs {
    width: 100%;
    overflow: auto;
    display: block;
    margin: 0 auto;
  }

  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

  code {
    font-family: 'Anonymous Pro', monospace;
    max-width: 100%;
    vertical-align: bottom;
    overflow: auto;
    display: inline-block;
    background-color: #f8f8f8;
    @media screen and (max-width: 480px) {
      margin: 0.5rem -1rem;
      padding: 0.5rem 1rem;
    }
  }
  h1 {
    font-size: 1.6rem;
    margin: 1em 0;
  }
  h2 {
    font-size: 1.5rem;
    margin: 1em 0;
  }
  h3 {
    font-size: 1.4rem;
    margin: 1em 0;
  }
  h4 {
    font-size: 1.3rem;
    margin: 1em 0;
  }
  h5 {
    font-size: 1.2rem;
    margin: 1em 0;
  }
  h6 {
    font-size: 1.1rem;
    margin: 1em 0;
  }
}






