.category {
  display: block;

  &_wrapper {
    display: block;
    max-width: 1024px;
    margin: auto;
    padding: 30px 20px;

    &_lists {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-content: flex-start;
      align-items: flex-start;
      }
    }
  }
