@import "../../vars.scss";

.category {
  display: block;
  border-bottom: 1px solid rgba(204, 204, 204, 0.2);
  border-top: 1px solid white;

  &:nth-child(2n) {
    background: white;
  }

  &:nth-child(2n+1) {
    background: rgba(255, 255, 255, 0.6);
  }

  &_title {
    position: relative;
    overflow: hidden;

    color: $dark-blue;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
  }

  &_wrapper {
    display: block;
    max-width: 1024px;
    margin: auto;
    padding: 30px 20px;
    overflow: hidden;

    &_lists {
      // Empty nested rule kept for structure
    }
  }
}
